extends layout

block content

    div#header
        img(src='/img/header.png')

    .jumbotron.jumbotron-fluid
        h1.display-4.center Selected Requirements
        .row.vertical-align
            div.col-lg-6.col-md-6
                div.row
                    div.col-lg-10.col-md-10
                        select.form-control.custom-select#selectSerDefName(name='selectSerDefName')
                            for serviceDefinition in serviceDefinitions
                                if (typeof(serviceDefinition.unit) !== 'undefined')
                                    option(value='#{serviceDefinition.type}' data-id='#{serviceDefinition.id}') #{serviceDefinition.name} [#{serviceDefinition.unit}]
                                else
                                    option(value='#{serviceDefinition.type}' data-id='#{serviceDefinition.id}') #{serviceDefinition.name}
                    div.col-lg-2.col-md-2
                        .unit
            div.col-lg-4.col-md-4
                .type-boolean-input
                .type-range-input
                .type-class-input
            div.col-lg-2.col-md-2
                button.btn.btn-primary.btn-lg.btn-block.invisible.center-block#submitButton(type='button') Submit
            table.table
                thead
                    tr
                        th Name
                        th Values
                tbody#requirements
    .container
        .row#technologies
            include technologies

        footer
            img(src='/img/footer.png')


